<% include ../partials/header %>
<h1>USER INDEX PAGE</h1>


<% users.forEach(function(user){ %>
  <p>
  	username:
    <%= user.username %>

    go to user:
    <a href="/users/<%=user.id%>/">view |</a> 
    <a href="/users/<%=user.id%>/edit">edit </a> 
    <form action="/users/<%=user.id%>/?_method=DELETE" method="POST">
    	<input type="submit" value="DELETE <%=user.username%>">
    </form>
		<a href="/logout">Logout</a>
  </p>
<% })%>


<% include ../partials/footer %>