<% include ../partials/header %>

<h1>RESTAURANTS</h1>

<!-- <form method="POST" action="/login" >
  <input type="submit" value="LogOUT" class="btn btn-primary">
</form> -->

<a href="/logout">Logout</a>
<br>
<a href="/restaurants/new">Create a new restaurant</a>

<table data-toggle="table" data-height="299" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="address">Address</th>
            <th data-field="hours">Hours</th>
            <th data-field="costs">Costs</th>
            <th data-field="edit">Edit</th>
            <th data-field="comment">Add a Comment</th>
            <th data-field="user">Created By</th>
            th
        </tr>
    </thead>
		<tbody>
			<% restaurants.forEach(function (restaurant){ %>
			<tr>
				<td><%=restaurant.name%></td>
				<td><%=restaurant.address%></td>
				<td><%=restaurant.hours%></td>
				<td><%=restaurant.cost%></td>
				<td><a href="/restaurants/<%=restaurant.id%>/edit"> edit restaurant</a></td>
				<td><a href="/restaurants/<%=restaurant.id%>/comments/new"> add a comment</a> </td>
				<td><form action="/restaurants/<%=restaurant.id%>?_method=delete" method="POST">
						<input type="submit" value="X" class="btn btn-danger btn-sm">
						</form></td>
				<td><%=restaurant.user.username%> YO</td>
			</tr>
			<% }) %>
		</tbody>
</table>








<% include ../partials/footer %>